<body class="login-page">
  <main>
    <div class="login-block">
      <h3 style="margin-bottom: 30px;">Register your account</h3>

      <form action="#" style="margin: 10px;">

        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input type="text"style="margin-left:10px" class="form-control" placeholder="Your name">
          </div>
        </div>
        
        <hr class="hr-xs">

        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
            <input type="text" style="margin-left:10px" class="form-control" placeholder="Your email address">
          </div>
        </div>
        
        <hr class="hr-xs">

        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock ti-unlock"></i></span>
            <input type="password" style="margin-left:10px" class="form-control" placeholder="Choose a password">
          </div>
        </div>
        <hr class="hr-xs">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock ti-unlock"></i></span>
            <input type="password" style="margin-left:10px" class="form-control" placeholder="Confirm your password">
          </div>
        </div>

        <button class="btn btn-primary btn-block" style="margin: 20px;" type="submit">Register</button>
        <div class="login-links">
          <p class="text-center">Already have an account? <a class="txt-brand" href="user-login.html">Login</a></p>
        </div>
      </form>
    </div>
  </main>