<div style="background-color: lightgrey;">
    <div class="row justify-content-center text-center mb-4">
        <h2 class="font-weight-bold" style="margin-top: 10px;">Explore </h2>
        <p class="text-muted mb-0">Wanna explore more?..we have some blogs for you</p>
    </div>
<iframe style="height:300px; width: 600px; margin-left: 120px; margin-top: 20px; margin-bottom: 40px;"
    src="https://www.youtube.com/embed//nc57ej3nTtE"></iframe>
<iframe style="height:300px; width: 600px; margin-left: 80px; margin-top: 20px; margin-bottom: 40px;" 
src="https://www.youtube.com/embed//QQQe1aDy4fE"></iframe>
</div>
