  <body class="login-page">
    <main>
      <div class="login-block">
        <h3 style="margin-bottom: 30px;">Log into your account</h3>

        <form action="#" style="margin: 10px;">

          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input type="text"style="margin-left:10px" class="form-control" placeholder="Your name">
            </div>
          </div>
          
          <hr class="hr-xs">

          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
              <input type="text" style="margin-left:10px" class="form-control" placeholder="Your email address">
            </div>
          </div>
          
          <hr class="hr-xs">

          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock ti-unlock"></i></span>
              <input type="password" style="margin-left:10px" class="form-control" placeholder="Choose a password">
            </div>
          </div>

          <button class="btn btn-primary btn-block" style="margin: 20px;" type="submit">Sign up</button>

          <div class="login-footer">
            <h6>Or register with</h6>
            <div style="margin: 10px;">
              <a href="" class="me-4 text-reset">
                <i class="fa fa-facebook-f"></i>
              </a>
              <a href="" class="me-4 text-reset">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="" class="me-4 text-reset">
                <i class="fa fa-google"></i>
              </a>
             
              <a href="" class="me-4 text-reset">
                <i class="fa fa-linkedin"></i>
              </a>
             
            </div>
          </div>
        </form>
      </div>
    </main>